<router-outlet>
	<div class="row">
		<div class="col-lg">
			<div class="panel panel-primary">
				<div class="panel-heading">Panel</div>
				<div class="panel-body">Panel Content
					<div class="card" style="width:400px">
						<img class="card-img-top" src="https://via.placeholder.com/600/92c952" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">{{first_name + last_name}}</h4>
                    <p class="card-text">{{email}}</p>
                    <a routerLink="/student/edit" class="btn btn-primary">See Profile</a>
                  </div>
          </div>
        </div>
          </div>
      </div>
  </div>
</router-outlet>