<div class="container-fluid">
	<h1>Responsive Columns</h1>
	<p>Resize the browser window to see the effect.</p>
	<p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
	<div *ngIf="loadingserviceService.isLoading" class="spinner-border text-primary" style="margin: 0 50%;" role="status">
		<span class="sr-only">Loading...</span>
</div>
<app-card *ngFor ="let teacher of teachers" [first_name]="teacher.first_name" [last_name]="teacher.last_name" [email]="teacher.email">
</app-card>
</div>